@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:fiber_vintage;
    src: url(../assets/fonts/fiber_vintage/fibre-vintage.otf);
}
html , body{
    overflow-x: hidden;
}
body{
    position: relative;
}

body{
    background-image: url(../assets/images/backgroundImg.png);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
.header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../assets/images/homeHeader.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 97%;
    min-height: 54rem;
    margin: 1.5rem;
    padding-inline: 2.5rem;
    padding-block: 3rem;
    border-radius: 1rem;
    color: white;
}
.headOfHeader{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    
}
nav ul{
    display: flex;
    gap: 3rem;
    line-height: 4.5rem;
    list-style: none;
    font-size: 1.2rem;
    text-transform:uppercase;
  
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    opacity: .5;
    cursor: pointer;
}
nav a.active{
    text-decoration: underline;
    text-underline-offset: .8rem;
    opacity: 1;
}
.icons{
    transform: translateY(1rem);
    font-size: 1.2rem;
    display: flex;
    gap: .5rem;
}
.wishListIconList , .cartIcon{
    border: 2px solid white;
    border-radius: 50%;
    width: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    font-size: 1.3rem;
    cursor: pointer;
}
a i{
    color: white;
}
.notificationFavIcon{
    height: 1.5rem;
    position: absolute;
    background-color: red;
    width: 1.5rem;
    border-radius: 50%;
    right: 3.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.notificationCartIcon{
    height: 1.5rem;
    position: absolute;
    right: 0;
    background-color: red;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.menuIcon{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transform: translateY(25px);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.menuIcon div{
    width: 3rem;
    height: .2rem;
    background-color: white;
}
.menuBar{
    background-color: rgb(88, 88, 88);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 0;
    right: -100rem;
    transition: .8s ease-in-out;
    z-index: 10;
    
}
.headerMenuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .7rem;
}
.menuBar ul{
    list-style-type: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
}
.menuBar ul a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    opacity: .5;
    font-weight: 400;
    opacity: .5;
    
}
.menuBar ul a.active{
    text-decoration: underline;
    text-underline-offset: .5rem;
    opacity: 1;
}
.logoMenuBar img{
    width: 6rem;
}
.headerMenuBar .closeIcon{
    font-size: 3rem;
    transform: translateY(18px);
    cursor: pointer;
}
.contentHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.contentHeader h1{
    font-family:fiber_vintage ;
    font-size: 6rem;
    line-height: 5.5rem;
    width: 80%;
    text-align: center;
}
.contentHeader p{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform:uppercase;
    width: 58%;
    text-align: center;
    line-height: 2rem;
}
.contentHeader button{
    background-color: #D62828;
    text-transform:uppercase;
    margin-top: 2rem;
    color: white;
    width: 18rem;
    height: 4rem;
    border-radius: 1.6rem;
    font-size: 1.3rem;
    border: 4px solid;
    border-color:#FFFFFF66;
    cursor: pointer;
    transition: .5s;
}
/* .contentHeader button:hover{
    transform:translateY(10px);
    box-shadow: 5px 5px 5px black;
} */
.mostSelling {
    margin-block: 4rem;
    color: white;
    text-align: center;
    position: relative;
}
.mostSelling p{
    font-size: 1.3rem;
    text-transform: uppercase;
}
@keyframes moveText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateY(.5em);
    }
}
.mostSelling h2{
    font-family:fiber_vintage ;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    animation: moveText 1.5s infinite alternate;
}
.cards{
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.card{
    background-color: #1D1D1D;
    width: 23.8rem;
    height: 37rem;
    border-radius: 1rem;
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.imgCard{
    position: relative;
    width: calc((100%-.5rem)/2);
}
.imgCard img{
    width: 22rem;
    height: 15.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    object-fit:cover;
}
.rating{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-block: .5rem;
    position: relative;
}
.rating .price{
    color: #D62828;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.rating .rate span{
    font-weight: 400;
    color: white;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.rating .rate i{
    color: #FFD700;
    width: 1.5rem;
    height: 1.4rem;
    font-size: 1.5rem;
    margin-right: .4rem;
}
.rating::after{
    content: "";
    background-color: #FFFFFF1A;
    border-radius: 2em;
    width: 21.8rem;
    height: 1px;
    position: absolute;
    bottom: 0;
}
.details{
    display: flex;
    gap: .5rem;
    padding-block: .5rem;
}
.details p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.cardContent{
    margin: 1rem;
    padding-block: .5rem;
    width: calc((100%-.5rem)/2);
}
.cardContentDetails{
    margin-block: 1rem;
}
.cardContent h3{
    text-align: start;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}
.trueIcon{
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D62828;
    border: 1px solid #D62828;
    border-radius: 50%;
}
.trueIcon i{
    font-size: .8rem;
}
.cardContent button{
    background-color: transparent;
    width: 21.3rem;
    height: 3.1rem;
    border: 3px solid #FFFFFF80;
    border-radius: 1rem;
    color: #FFFFFF80;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}
.cardContent button:hover{
    background-color: rgba(255, 255, 255 , .8);
    border-color: transparent;
    color: #444;
}
.cardContent button.added{
    border: 3px solid white;
    color: white;
}
.newBadge{
    width: 6rem;
    height: 2.6rem;
    background-color: #D62828;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    position: absolute;
    top: -.5rem;
    left: 14rem;
    visibility: hidden;
}
.newBadge p{
    font-size: 1.3rem;
    font-weight: 600;
}
.newBadge.new{
    visibility: visible;
}
.wishListIcon{
    width: 3.8rem;
    height: 3.8rem;
    background-color: white;
    border: 3px solid #D6282880;
    border-radius: 50%;
    color: #D62828;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}
.wishListIcon i{
   font-size: 1.6rem;
}
.fav{
   background-color: #D62828;
   border: none;
   color: white;
}
.mostSelling::after{
    content: "";
    width: 68.6rem;
    border: 3px solid #FFFFFF66;
    display: block; /* Makes it a block element */
    /* margin-bottom: 6rem; */
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.mostSelling::before{
    content: "";
    width: 22.8rem;
    border: 3px solid #D62828;
    display: block; /* Makes it a block element */
    margin-left: 1.5rem;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
}
.arrows{
    display: flex;
    gap:1rem;
    justify-content: flex-end;
    margin-right: 2rem;
    transform: translateY(3rem);
}
.arrow{
    width: 3.6rem;
    height: 3.6rem;
    border: 2px solid #ffffff59;
    border-radius: 50%;
    background-color:transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF66;
    font-size: 1.4rem;
    cursor: pointer;
}
.arrow.cliked{
    background-color: #D62828;
    color: white;
    border: 0;
}
footer{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
 
}
footer p{
    font-weight: 300;
    text-transform: capitalize;
}
footer span{
    color: #D62828;
    font-weight: 600;
    cursor: pointer;
}
.slider {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../assets/images/videoHomeImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 97%;
    height: 95vh;
    border-radius: 1rem;
    overflow: hidden;
    margin-block: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playSlider{
    width: 9.4rem;
    height: 9.4rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}
.swiper {
    margin-top: 4rem;
    padding: 1rem;
  } 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: relative;
    margin: auto;
    width: 90%;
    height: 90%;
}
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
iframe {
    width: 100%; 
    height: 100%; 
    border: none; 
}


/*                                                Responsive                                                                 */


@media (max-width: 1024px) {
    .header {
        width: 95%;
    }
    .mostSelling::after {
        width: 40.6rem;
    }
    .mostSelling::before{
        width: 11.8rem;
    }

}
@media (max-width: 768px){
    nav ul{
        margin-left: 3rem;
        font-size: 1rem;
    }
    .header {
        width: 95%;
    }
    .contentHeader{
        margin-top: 4rem;
    }
    .contentHeader h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .contentHeader p{
        font-size: .8rem;
        width: 85%;
    }
    .mostSelling h2{
        font-size: 3.5rem;
    }
    .card{
        margin-inline: 1rem;
        width: 21.8rem;
    }
    .imgCard img{
        width: 20rem;
    }
    .newBadge{
        left: 13rem;
    }
    .mostSelling::after {
        width: 29.6rem;
    }
    .mostSelling::before {
        width: 8.8rem;
    }
    .cardContent button{
        width: 19.3rem;
    }

}
@media (max-width: 600px){
    nav ul{
        font-size: .8rem;
        line-height: 3.5rem;
        gap: 2rem;
    }
    .logo img{
        width: 3.5rem;
    }
    .wishListIconList , .cartIcon{
        width: 1.7rem;
        height: 1.7rem;
    }
    .icons i{
        font-size: 1rem;
    }
    .header{
        width: 94%;
        margin: 1rem;
        padding-inline: 1rem;
        min-height: 100vh;
    }
    .notificationFavIcon {
        right: 2rem;
        bottom: 0.5rem;
    }
    .notificationCartIcon {
        right: -0.7rem;
        top: -.3rem;
    }
    .contentHeader {
        margin-top: 2.5rem;
    }
    .contentHeader h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .contentHeader p {
        font-size: .7rem;
        width: 90%;
    }
    .contentHeader button{
        width: 16rem;
        height: 3.5rem;
        font-size: 1.1rem;
    }
    .card{
        width: 16.8rem;
    }
    .imgCard img {
        width: 16rem;
    }
    .newBadge {
        width: 5rem;
        left: 10rem;
    }
    .cardContent h3{
        font-size: .8rem;
    }
    .details p{
        font-size: .8rem;
    }
    .cardContent button {
        width: 14.3rem;
    }
    .mostSelling::after {
        width: 20.6rem;
    }
    .mostSelling::before {
        width: 4.8rem;
    }
    footer{
        font-size: 1rem;
    }
    
}
@media (max-width: 460px) {
    .header{
        width: 92%;
    }
    .menuIcon{
        opacity: 1;
        visibility: visible;
      
    }
    nav ul{
        display: none;
        max-height: 0;
    }
    .icons{
        display: none;
        max-height: 0;
    }
    .contentHeader h1 {
        width: 90%;
    }
    .contentHeader p {
        width: 100%;
    }
    .mostSelling::after {
        width: 14.6rem;
    }
    .mostSelling::before {
        width: 2.8rem;
    }
    footer {
        font-size: .8rem;
    }
    .cards{
        margin-top: 3.5rem;
    }
    .card {
        margin-inline: .7rem;
        width: 12.8rem;
        height: 35rem;
    }
    .imgCard img {
        width: 12rem;
    }
    .newBadge {
        width: 4rem;
        left: 7rem;
        height: 2rem;
    }
    .wishListIcon {
        width: 3.3rem;
        height: 3.3rem;
        left: 1rem;
    }
    .rating {
        margin: .5rem;
    }
    .cardContent {
        margin: .5rem;
    }
    .cardContent h3 {
        font-size: .7rem;
        line-height: 1rem;
    }
    .cardContent button {
        width: 11.3rem;
    }
    .arrows{
        transform: translateY(2rem);
    }
    .arrow {
        width: 2.6rem;
        height: 2.6rem;
    }
    .slider{
        margin-block: 3rem;
    }
    
}
@media (max-width: 431px) {
    .contentHeader h1 {
        width: 100%;
    }
    .contentHeader p {
        width: 90%;
    }

}
@media (max-width : 376px){
    .contentHeader h1 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .contentHeader p {
        width: 100%;
    }
    .mostSelling p {
        font-size: 1rem;
    }
    .mostSelling h2 {
        font-size: 3rem;
    }
    .mostSelling::after {
        width: 10.6rem;
    }
    .mostSelling::before {
        width: 1.8rem;
    }
    .arrows{
        transform: translateY(2.5rem);
    }
    footer {
        font-size: .6rem;
        margin-bottom: 2rem;
    }
}
    
